In [3]:
import plotly.express as px
import pandas as pd
import numpy  as np
import sqlite3

conexion = sqlite3.connect(r"C:\Users\NIORKYS\Desktop\Programas Estadisticas\BBDD\FPA_FOD_20170508.sqlite")

In [4]:
print("LOS 5 CONDADOS CON MAYOR CANTIDAD DE INCENDIOS REGISTRADOS")

vista_nº5 = pd.read_sql_query("SELECT FIPS_NAME, COUNT(*) AS Nº_FIPS_NAME FROM FIRES WHERE FIPS_NAME IS NOT NULL GROUP BY FIPS_NAME ORDER BY Nº_FIPS_NAME DESC LIMIT 5;",conexion)
vista_nº5

LOS 5 CONDADOS CON MAYOR CANTIDAD DE INCENDIOS REGISTRADOS

    FIPS_NAME  Nº_FIPS_NAME
0  Washington         11014
1     Lincoln         10571
2     Jackson          9902
3      Marion          8908
4    Cherokee          8558