In [2]:
#Informe

import plotly.express as px
import pandas as pd
import numpy  as np
import sqlite3

conexion = sqlite3.connect(r"C:\Users\NIORKYS\Desktop\Programas Estadisticas\BBDD\FPA_FOD_20170508.sqlite")

In [6]:
print("Dentro de los 10 estados con mayor reporte de incendios, con cuantas unidades tienen y que rol cumplen en los distintos tipos de incendios")
print("10 estados con mayor reporte de incendios:")
df_tabla1 = pd.read_sql_query("SELECT F.STATE AS ESTADOS, COUNT(*) AS Nº_INCENDIOS FROM FIRES AS F GROUP BY ESTADOS ORDER BY Nº_INCENDIOS DESC LIMIT 10;",conexion)
df_tabla1

Dentro de los 10 estados con mayor reporte de incendios, con cuantas unidades tienen y que rol cumplen en los distintos tipos de incendios
10 estados con mayor reporte de incendios:

  ESTADOS  Nº_INCENDIOS
0      CA        189550
1      GA        168867
2      TX        142021
3      NC        111277
4      FL         90261
5      SC         81315
6      NY         80870
7      MS         79230
8      AZ         71586
9      AL         66570

In [4]:

df_tabla2 = pd.read_sql_query("SELECT U.STATE AS ESTADOS, COUNT(*) AS Nº_UNIDADES FROM NWCG_UnitIDActive_20170109 AS U GROUP BY ESTADOS ORDER BY Nº_UNIDADES DESC LIMIT 10;",conexion)
df_tabla2

  ESTADOS  Nº_UNIDADES
0      CA         1258
1      CO          810
2      OR          486
3      SD          454
4      ID          319
5      AZ          303
6      WA          269
7      AK          194
8      MT          168
9      KS          127

In [1]:
# Cerrar conexion

conexion.close()

NameError: name 'conexion' is not defined