In [4]:
#Informe

import plotly.express as px
import pandas as pd
import numpy  as np
import sqlite3

conexion = sqlite3.connect(r"C:\Users\NIORKYS\Desktop\Programas Estadisticas\BBDD\FPA_FOD_20170508.sqlite")

In [6]:
print("Dentro de los 10 estados con mayor reporte de incendios, con cuantas unidades tienen y que rol cumplen en los distintos tipos de incendios")
print("10 estados con mayor reporte de incendios:")
df_tabla1 = pd.read_sql_query("SELECT F.STATE AS ESTADOS, COUNT(*) AS Nº_INCENDIOS FROM FIRES AS F GROUP BY ESTADOS ORDER BY Nº_INCENDIOS DESC LIMIT 10;",conexion)
df_tabla1

Dentro de los 10 estados con mayor reporte de incendios, con cuantas unidades tienen y que rol cumplen en los distintos tipos de incendios
10 estados con mayor reporte de incendios:

  ESTADOS  Nº_INCENDIOS
0      CA        189550
1      GA        168867
2      TX        142021
3      NC        111277
4      FL         90261
5      SC         81315
6      NY         80870
7      MS         79230
8      AZ         71586
9      AL         66570

In [5]:
df_tabla2 = pd.read_sql_query("SELECT X.STATE,X.Nº_INCENDIOS,Y.Nº_UNIDADES FROM(SELECT F.STATE, COUNT(*) AS Nº_INCENDIOS FROM FIRES F GROUP BY F.STATE ORDER BY Nº_INCENDIOS DESC LIMIT 10) AS X JOIN (SELECT U.STATE, COUNT(*) AS Nº_UNIDADES FROM NWCG_UnitIDActive_20170109 U GROUP BY U.STATE ORDER BY Nº_UNIDADES DESC  ) AS Y ON Y.STATE = X.STATE;",conexion)
df_tabla2

  STATE  Nº_INCENDIOS  Nº_UNIDADES
0    CA        189550         1258
1    GA        168867           45
2    TX        142021          100
3    NC        111277           43
4    FL         90261           79
5    SC         81315           31
6    NY         80870           43
7    MS         79230           36
8    AZ         71586          303
9    AL         66570           24

In [1]:
# Cerrar conexion

conexion.close()

NameError: name 'conexion' is not defined