In [4]:
#Informe

import plotly.express as px
import pandas as pd
import numpy  as np
import seaborn  as sns
import sqlite3

conexion = sqlite3.connect(r"C:\Users\NIORKYS\Desktop\Programas Estadisticas\BBDD\FPA_FOD_20170508.sqlite")

In [7]:
print("Top 10 estados con mayor reporte de incendios")

df_tabla1 = pd.read_sql_query("""
                             SELECT STATE AS ESTADOS, COUNT(*) AS Nº_INCENDIOS
                             FROM FIRES AS F
                             WHERE FIRE_YEAR >= 2005 AND ESTADOS IN ("CA", "GA", "TX", "NC", "FL", "SC", "NY", "MS", "AZ", "AL") 
                             GROUP BY ESTADOS
                             ORDER BY Nº_INCENDIOS DESC 
                             LIMIT 10;
                             """,conexion)

df_tabla1

Top 10 estados con mayor reporte de incendios

  ESTADOS  Nº_INCENDIOS
0      TX        122613
1      CA         83912
2      GA         62581
3      NY         60567
4      NC         47562
5      FL         35584
6      MS         27394
7      AZ         27284
8      AL         26575
9      SC         26172

In [17]:
df_tabla2 = pd.read_sql_query("""
                              SELECT F.FIRE_YEAR AS PERIODOS, 
                              F.STATE AS ESTADOS, 
                              COUNT(*) AS Nº_INCENDIOS 
                              FROM FIRES F 
                              WHERE PERIODOS >= 2005 
                              AND ESTADOS IN ("CA", "GA", "TX", "NC", "FL", "SC", "NY", "MS", "AZ", "AL") 
                              GROUP BY ESTADOS, PERIODOS ORDER BY PERIODOS ASC;
                              """,conexion)
df_tabla2

     PERIODOS ESTADOS  Nº_INCENDIOS
0        2005      AL          2547
1        2005      AZ          3690
2        2005      CA          6678
3        2005      FL          2395
4        2005      GA          6049
..        ...     ...           ...
105      2015      MS          2122
106      2015      NC          2471
107      2015      NY          5884
108      2015      SC          1299
109      2015      TX          8304

[110 rows x 3 columns]

In [ ]:



Grafico = px.bar(df_tabla1, x = "Nº_INCENDIOS", y = "ESTADOS" )

Grafico.show()

In [ ]:

Grafico = px.icicle(df_tabla2, x = "Nº_INCENDIOS", y = "ESTADOS" )

Grafico.show()

In [ ]:
# Cerrar conexion

conexion.close()